[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="cluster"
wsrep_cluster_address="gcomm://NodeIPs"

# Galera Synchronization Configuration
wsrep_sst_method=mariabackup
wsrep_sst_auth=mariabackup:Nx9sXG7v7vF5w4Ls

# Galera Node Configuration
wsrep_node_address="ThisNodeIP"
wsrep_node_name="ThisNodeName"
